{% extends "new.html" %}
{% block title %}
Academic Counselling
{% endblock %}



{% block im %}
<center>

<div class="counselling">
<h1 class="cla">Academic Counselling</h1>
<li><p class="cl">Students have to Book appointment to consult our counsellors.</p></li>
<li><p class="cl">Half an hour of specified time will be alotted to the student for online counselling.</p></li>
<li><p class="cl">Academic counsellors will entertain your doubts and concerns regarding studies and future prospects at the institute.</p></li>
<li><p class="cl">Chat portal will open for the specified half hour only, but the student can book multiple appointments.</p></li>
<li><p class="cl">Counselling will be served like justice</p></li>
<li><p class="cl">Please maintain a certain decorum and respect towards your counsellors.</p></li>
</div>
</center>
{% endblock %}
