{% extends "new.html" %}
{% block title %}
New Students
{% endblock %}
{% block im %}

<div class="row">
<div class="col-3">
<ul class="sidenav">
<li><a class="new" href="http://http://www.iitbhu.ac.in/admissions/freshers-portal/index.html">Important information</a></li>
<li><a class="new" href="/map/">Reaching IIT BHU</a></li>
<li><a class="new" href="/ragging/">Anti-Ragging</a></li>
</ul>
</div>
<div class="col-8">
{% block content %}

{% endblock %}
</div>
</div>
{% endblock %}
